
<button id="myBtn"  class="btn btn-success"
  (click)="disparaModal()">Open Modal</button>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" id="close">&times;</button>
      <h2>Bienvenidos</h2>
    </div>
    <div class="modal-body">
      <p> Desea informarse mejor </p>
    </div>
    <div class="modal-footer">
      <h3>Creado por ricardolopez.computing@gmail.com</h3>
    </div>
  </div>

</div>
