
/* collapsible */
.btn:after {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: right;
	margin-left: 15px;
}
.btn.collapsed:after {
	content: "\e080";
}
/* FIN collapsible */


.collapse-basico{
	padding: 10px;
	background-color: white;
}


.centra-texto{
	text-align: center;
}


/** animaciones CSS3 */
.boton_transicion{
	padding: 10px;
	background-color: #e91e63;
	color: white;
	border-radius: 15px;
	border: 5px solid #ba68c8;


	transition: all 2s;

	font-size: 1em;
	display: inline;
}

.boton_transicion:hover{
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	background: #f48fb1;
}


.caja-animada{
	background: green;
	border: 5px solid black;
	width: 200px;
	height: 200px;
}


  p {
    width:200px;
    background:lightgray;
    margin: 100px auto;
    text-align:center;
    padding:20px;
    font-size:1.5em;
  }

