

body{
  background-color: rgb(186, 184, 185);
}


.navigator.col-lg-12{
	margin-top: 10px;
}

.jumbotron{
	padding: 40px;
	border-radius: 15px;

	box-shadow: 2px 2px 1px black;

	text-align: center;
}


.navbar-nav .active{
	border-bottom: 3px solid orange;
}